.main-btn {
    background-color: var(--btn-color);
    border: none;
    color: #000;
    border-radius: 6px;
    font-weight: 500;
    font-family: Stem;
    cursor: pointer;
    transition: all 200ms ease;
}

.main-btn:hover {
    background-color: #fff;
    color: var(--btn-color);
}