.nav {
    background-color: #fff;
}

.nav__inner {
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    font-size: 28px;
}

.nav__links {
    list-style: none;
    display: flex;
    width: 495px;
    justify-content: space-between;
    align-items: center;
}

.nav__links a {
    color: var(--light-grey);
    text-decoration: none;
    font-size: 18px;
}

.nav__links a:hover {
    text-decoration: underline;
}